/* Importación de los Íconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Estilos globales */
* {
  box-sizing: border-box;
}

/* Estilos para el header */
.prueba-nav {
  height: 5rem;
}

.body-p {
  background-color: #dddddd;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 50px;
  
}

.container-navbar {
  min-width: 95%;
  max-width: 95%;
  overflow-x: hidden;
  padding: 0;
}

.bg-gray {
  background-color: #dddddd;
}

/* Estilos para la caja principal */
.main-box {
  min-width: 95%;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* ********************************* */
/* Estilos para la sección de inicio */
/* ********************************* */

.main-box-inicio {
  height: 70vh;
  /* background-color: lightpink; */
  border-radius: 50px;
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/* Estilos para la imagen de fondo */
.image-background-inicio {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Estilos para las imagenes de asteroide */
.img-asteroide {
  position: absolute;
  width: 35rem;
  height: 38rem;
  margin-top: -20rem;
  z-index: 10;
  right: 5%;

}

.img-asteroide2 {
  position: absolute;
  width: 20rem;
  height: 23rem;
  margin-top: -40rem;
  z-index: 11;
  right: 25%;
}

.content {
  display: none;
}



.fila {
  background-color: lightgreen;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.container-title-inicio {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  color: white;

}



.container-description-inicio {
  z-index: 3;
  color: white;
}

.container-button-inicio {
  z-index: 4;
  color: white;
}

.text-title-inicio {
  font-size: 4.5rem;
  width: 2rem;
  font-weight: 900;
}

.text-title-inicio2 {
  display: none;
}

.container-text-animation {
  display: none;
}

.container-description-inicio {
  display: flex;
  align-items: center;
}

.text-inicio {
  width: 45%;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: justify;
}

.container-button-inicio {
  display: flex;
  align-items: center;
}

.btn-x {
  width: 20%;
  border-radius: 2rem;
  height: 40%;
  background-color: rgb(224, 224, 224);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  border: none;
}



/* ********************************* */
/* Estilos para la sección de nosotros */
/* ********************************* */

.fila-nosotros-mobile{
  display: none;
}
.container-content-circle {
  width: 35%;
  height: 35%;
  /* background-color: lightpink; */
  position: absolute;
  z-index: 1000;
  left: 22.5%;
  top: 12%;
  display: flex;
  align-items: center;
}

.container-content-circle-visi {
  width: 35%;
  height: 35%;
  /* background-color: lightpink; */
  position: absolute;
  z-index: 1000;
  left: 57%;
  top: 12%;
  display: flex;
  align-items: center;
}

.circle2 {
  width: 30%;
  aspect-ratio: 1 / 1;
  background-color: #1A237E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}


.rest-text2 {
  font-size: 3.5rem;
  font-weight: 900;
}



.letter-m {
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
}



.text-nosotros {
  font-size: 1.7rem;
}


/* Nosotros2 */

.container-nosotros {
  width: 100%;
  margin-top: 6rem;
}

.fila-nosotros {
  position: relative;
  display: flex;
}

.container-left-nosotros {
  height: 42vh;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}


.container-right-nosotros {
  height: 42vh;
  display: flex;
  align-items: flex-end;
  /* background-color: lightgreen; */
}

.container-image {
  width: 70%;
  height: 100%;
  margin-left: 25%;
  border-radius: 2.5rem;
  overflow: hidden;
}

.image-nosotros {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-text {
  height: 45%;
  width: 85%;
  margin-bottom: 5%;
  /* background-color: lightpink; */
}

.container-image-visi {
  width: 70%;
  height: 100%;
  margin-right: 25%;
  border-radius: 2.5rem;
  overflow: hidden;
}


.container-text-visi {
  height: 45%;
  width: 85%;
  margin-bottom: 5%;
  /* background-color: lightblue; */
}

.container-right-nosotros-visi {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: lightcoral; */
}

.container-left-nosotros-visi {
  height: 42svh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: aqua; */
}

.circle2-visi {
  justify-content: flex-start;
}


/* ********************************* */
/* Estilos para la sección de more-us */
/* ********************************* */
.more-us {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.more-us .ddd {
  width: 95%;

}

.container-button-c {
  position: absolute;
  z-index: 5;
  bottom: 2rem;
  left: 1rem;
}

.container-button-c .more-us-btn-c {
  border: none;
  width: 200px;
  border-radius: 4rem;
  height: 50px;
  background-color: rgb(224, 224, 224) !important;
  font-weight: bold;
  color: black;
}

.nuevo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  overflow: hidden;
  height: 80vh;
  background-color: lightskyblue;
  position: relative;
}

.enfoque-v {
  height: 40vh;
  border-radius: 2rem;
  width: 100%;
}

.content-enfoque-v {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 2rem;
  background-color: #B0B0B0;
  position: relative;
}

.texts-enfoque-v {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
}

.container-title-more-us-p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.container-description-us-p {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.text-description-more-us-p {
  font-size: 1rem;
}

.container-img-enfoque-v {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  background-color: lightgreen;
  overflow: hidden;
}

.img-more-us-p {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}



.orientados-e {
  height: 40vh;
  border-radius: 3rem;
  padding-top: 0.8rem;
}

.mejores-p {
  border-radius: 3rem;
  height: 40vh;
  padding-top: 0.8rem;
}

.image-more-us-c {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.title-more-us-c {
  position: absolute;
  z-index: 2;
  top: 1rem;
  width: 1rem;
  left: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

.two-sections {
  margin-top: 1rem;
}


.orien-exi-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3rem;
  position: relative;
}

.container-title-orien-exi {
  width: 60%;
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
}

.text-title-orien-exi {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.container-description-orien-exi {
  width: 50%;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.container-icon-orien-exi {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.icon-flecha {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.text-description-orien-text {
  color: white;
}

.prac-container {
  position: relative;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  background-color: #1A237E;
}


/* ********************************* */
/* Estilos para la sección de tecnologias */
/* ********************************* */
.container-tecnologias {
  width: 100%;
  margin-top: 5rem;
  background-color: black;
  border-radius: 3rem;
  overflow: hidden;
}

.row-tecnologias {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;

}

.texts-tecnologias {
  /* background-color: lightcoral; */
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container-title-tecnologias {
  /* background-color: lightpink; */
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
}

.container-description-tecnologias {
  /* background-color: red; */
  height: 60%;
  width: 95%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-right: auto;
  margin-left: auto;
  color: white;
}


/* Estilos para carrusel de la sección tecnologías */

.carrousel-tecnologias {
  display: flex;
  background-color: black;
  height: 30vh;
  /* background-color: rebeccapurple; */
}


.container-carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* background-color: lightgreen; */
}

.container-content-carrousel {
  width: calc(100% - 70px);
  height: 70%;
  position: relative;
  font-size: 14px;
  overflow: hidden;
}

.title-tecnologias {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-wrapper .swiper-slide {
  position: relative;
  text-align: start;
  text-align: center;
  font-size: 18px;
  border-radius: 3.5rem;
  background-color: #dddddd
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-right-radius: 15px;
}


.swiper-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.swiper-button-container .button-next,
.swiper-button-container .button-back {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-container .button-next {
  right: -0.3rem;
}

.swiper-button-container .button-back {
  left: -0.3rem;
}


/* ********************************* */
/* Estilos para la sección de servicios */
/* ********************************* */

.services-sm{
  display: none;
}

.container-servicios {
  width: 100%;
  height: 60vh;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  position: relative;
}

.container-content-servicios {
  width: 90%;
  height: 90%;
  /* background-color: aqua; */
}

.swiper-slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
}


.container-description-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: aquamarine; */
}

.description-service {
  width: 100%;
  height: 70%;
  background-color: #CCCCCC;
  position: relative;
  border-radius: 3rem;
}

.container-image-slide-services {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13rem;

}

.container-image-slide-services .image-services {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.container-description {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}

.title-description-services h3 {
  font-weight: bold;
}

.text-description-services {
  padding: 1.5rem;
}

.text-description-servi {
  font-size: 1.2rem;
  text-align: center;
}

.swiper-button-container2 {
  /* Estilos para centrar verticalmente */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}


/* ********************************* */
/* Estilos para la sección de contacto */
/* ********************************* */

.container-contacto {
  width: 90%;
  /* background-color: lightpink; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 7rem;
}
/* 
.container-contacto-content {
} */

.container-text-contacto {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-title-contacto{
  width: 100%;
  height: 13vh;
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-weight: 800  ;
}

.container-text-description-contacto{
  width: 100%;
  height: 30vh;
  /* background-color: lightgreen; */
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.container-icons-contacto{
  width: 100%;
  height: 18vh;
  /* background-color: lightsalmon; */
}

.container-item-icon{
  width: 100%;
  height: 33.33%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

.container-icon{
  font-size: 2rem;
}

.container-dscription-icon{
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}







/* Estilos del Footer */

.container-footer {
  width: 100%;
  margin-top: 5rem;
  background-color: #1A237E;
  border-radius: 3rem;
  overflow: hidden;
  color: white;
}



.fila-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: lightblue; */
}

.primer-col {
  width: 50%;
  height: 100%;
  /* background-color: lightcoral; */
}

.container-logo {
  width: 100%;
  height: 20vh;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-soluciones {
  width: 100%;
  height: 20vh;
  /* background-color: lightgreen; */
}

.container-compania {
  width: 100%;
  height: 20vh;
  /* background-color: lightpink; */
}

.container-redes {
  width: 100%;
  height: 20vh;
  /* background-color: lightsalmon; */
}

.container-title-soluciones {
  width: 100%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}

.container-apps-soluciones {
  width: 100%;
  height: 70%;
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}


.title-redes {
  width: 100%;
  height: 50%;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icons-redes {
  width: 100%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-item-redes {
  font-size: 3rem;
  margin-right: 1.5rem;
}




/* Media Queri para dispositivos pequeños */

@media screen and (max-width: 480px) {

  /* Estilos para la sección de inicio */

  .body-p {
    padding: 0.5rem;
  }

  .body-p {
    width: 100%;
  }

  .main-box-inicio {
    height: 25rem;
    width: 100%;
  }

  .text-title-inicio {
    display: none;
  }

  .content {
    display: block;
    position: absolute;
    top: 50%;
    /* Cambiado de 50% a 0 */
    left: 50%;
    transform: translate(-50%, 0);
    /* Eliminado el desplazamiento vertical */
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: white;
  }

  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }

  .content__container:before {
    content: '[';
    left: 0;
  }

  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }

  .content__container:before,
  .content__container:after {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }



  .content__container__list {
    margin-top: 0;
    /* padding-left: 110px; */
    padding-right: 50%;

    text-align: center;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .content__container__list__item {
    line-height: 40px;

  }

  @keyframes opacity {

    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes change {

    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
      transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
      transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
      transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
      transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }

  .img-asteroide,
  .img-asteroide2 {
    display: none;
  }

  .text-inicio {
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
  }

  .btn-x {
    width: 12rem;
    border-radius: 2rem;
    height: 3.5rem;
    font-size: 1.3rem;
  }

  .container-button-inicio {
    display: flex;
    justify-content: center;
  }


  /* Sección de nosotros */
  .fila-nosotros{
    display: none;
  }

  .fila-nosotros-mobile{
    display: block;
  }

  .container-content-nosotros-mobile{
    height: 26rem;
    /* background-color: #CCCCCC; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .container-image-nosotros-mobile{
    width: 95%;
    height: 55%;
    /* background-color: lightgreen; */
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }

  .image-nosotros-mobile{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-title-nosotros-mobile{
    width: 95%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    z-index: 5;
  }

  .circle-nosotros-mobile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #1A237E;
  }

  .rest-text-nosotros-mobile{
    font-size: 1.5rem;
    font-weight: 800;
  }

  .circle-nosotros-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
  }


  .container-description-nosotros-mobile{
    width: 95%;
    height: 45%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    /* background-color: green; */
  }

  .text-description-nosotros-mobile{
    text-align: center;
  }


  /* Sección de nosotros mobile with icons */
  .section-nosotros-with-icons-mobile{
    width: 100%;
  }

  .container-icon-nosotros-mobile{
    width: 100%;
    height: 6rem;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    color: #1A237E;
  }

  .title-nosotros-mobile{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }

  .container-text-nosotros-mobile{
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  /* Seccción de more-us */
  .nuevo-div{
    height: 50vh;
  }

  .enfoque-v{
    padding: 0;
    width: 100%;
    height: 40vh;
    margin-top: 2rem;
  }


  /* Sección de Tennologías */

  .carrousel-tecnologias {
    margin: 0;
    height: 25vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  
  .container-description-tecnologias {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .container-title-tecnologias {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  /* Sección de servicios */

  .title-section-services{
    width: 100%;
    height: 3rem;
    
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .services-lg{
    display: none;
  }

  .services-sm{
    display: block;
  }

  .container-servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .container-item-servicio{
    width: 100%;
    height: 35rem;
    background-color: #CCCCCC;
    border-radius: 2rem;
    overflow: hidden;
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }


  .container-title-item-servicio{
    width: 90%;
    height: 15%;
    /* background-color: lightpink; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }

  .container-image-item-servicio{
    width: 90%;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    /* background-color:lightblue; */
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }

  .container-text-item-servicio{
    width: 90%;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    /* background-color: lightgreen; */
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    padding: 0.5rem;
  }

  .image-servicio-item{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Estilos para la sección de contacto */

  .container-contacto{
    width: 100%;
  }

  .container-title-contacto{
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
  }

  .container-text-description-contacto{
    font-size: 1rem;
    height: 8rem;
    text-align: center;
    line-height: 2rem;
    /* background-color: red; */
  }
  
  .container-item-icon{
    width: 100%;
    /* background: lightgreen; */
    display: flex;
    justify-content: center;
  }

  .container-icon{
    font-size: 1rem;
    /* background-color: red; */
  }

  .container-dscription-icon{
    font-size: 1rem;
    /* background-color: lightgreen; */
    margin: 0;
    margin-left: 1rem;
  }

  .container-icons-contacto{
    height: 15vh;
    justify-content: center;
    /* background-color: lightcoral; */
  }


  
}

/* Estilos para dispositivos medianos */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}