/* Importación de los Íconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Estilos globales */
* {
  box-sizing: border-box;
}

.title-sections-mobile {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Estilos para el header */
.prueba-nav {
  height: 5rem;
}

.text-logo-nav {
  font-size: 3rem;
  font-weight: bold;
}

.body-p {
  background-color: #f0f0f0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  border-radius: 50px;

}

.container-navbar {
  min-width: 95%;
  max-width: 95%;
  overflow-x: hidden;
  padding: 0;
}

.bg-gray {
  background-color: #f0f0f0;
  margin-bottom: 1.2rem;
}

/* Estilos para la caja principal */
.main-box {
  min-width: 95%;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* ********************************* */
/* Estilos para la sección de inicio */
/* ********************************* */

.main-box-inicio {
  /* height: 70vh; */
  height: 40rem;
  /* background-color: lightpink; */
  border-radius: 50px;
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/* Estilos para la imagen de fondo */
.image-background-inicio {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Estilos para las imagenes de asteroide */
.img-asteroide {
  position: absolute;
  width: 50%;
  max-width: 35rem;
  height: auto;
  margin-top: -16rem;
  z-index: 10;
  right: 0;
  /* background-color: red; */
}

.img-asteroide2 {
  position: absolute;
  width: 50%;
  max-width: 20rem;
  height: auto;
  margin-top: -40rem;
  z-index: 11;
  right: 25rem;
  /* background-color: lightcoral; */
}

.content {
  display: none;
}



.fila {
  background-color: lightgreen;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.container-title-inicio {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}



.container-description-inicio {
  z-index: 3;
  color: white;
}

.container-button-inicio {
  z-index: 4;
  color: white;
}

.text-title-inicio {
  font-size: 4.2rem;
  width: 2rem;
  font-weight: 900;
}

.text-title-inicio2 {
  display: none;
}

.container-text-animation {
  display: none;
}

.container-description-inicio {
  display: flex;
  align-items: center;
}

.text-inicio {
  width: 50%;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: justify;
}

.container-button-inicio {
  display: flex;
  align-items: center;
}

.btn-x {
  width: 18rem;
  height: 5rem;
  border-radius: 3rem;
  background-color: rgb(224, 224, 224);
  font-size: 2rem;
  font-weight: 900;
  color: black;
  border: none;
}



/* ********************************* */
/* Estilos para la sección de nosotros */
/* ********************************* */

.nosotros-with-icons {
  display: none;
}

.container-content-circle {
  width: 35%;
  height: 28%;
  /* background-color: lightpink; */
  position: absolute;
  z-index: 1000;
  left: 22.5%;
  top: 12%;
  display: flex;
  align-items: center;
}

.container-content-circle-visi {
  width: 35%;
  height: 28%;
  /* background-color: lightpink; */
  position: absolute;
  z-index: 1000;
  right: 23.5%;
  top: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle2 {
  width: 30%;
  aspect-ratio: 1 / 1;
  background-color: #1A237E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}


.rest-text2 {
  font-size: 3.5rem;
  font-weight: 900;
}



.letter-m {
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
}



.text-nosotros {
  font-size: 1.7rem;
}


/* Nosotros2 */

.container-nosotros {
  width: 100%;
  margin-top: 9rem;
}

.fila-nosotros {
  position: relative;
  display: flex;
}


.container-left-nosotros {
  height: 26rem;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}


.container-right-nosotros {
  height: 26rem;
  display: flex;
  align-items: flex-end;
  /* background-color: lightgreen; */
}

.container-image {
  width: 70%;
  height: 100%;
  margin-left: 25%;
  border-radius: 2.5rem;
  overflow: hidden;
  background-color: lightcoral;
}

.image-nosotros {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-text {
  height: 45%;
  width: 85%;
  margin-bottom: 5%;
  /* background-color: lightpink; */
}

.container-image-visi {
  width: 70%;
  height: 100%;
  margin-right: 25%;
  border-radius: 2.5rem;
  overflow: hidden;
}


.container-text-visi {
  height: 50%;
  width: 85%;
  margin-bottom: 5%;
  /* background-color: lightblue; */
}

.container-right-nosotros-visi {
  height: 26rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: lightcoral; */
}

.container-left-nosotros-visi {
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: aqua ; */
}

.circle2-visi {
  justify-content: flex-start;
}

/* Nosotros with icons */
.section-nosotros-with-icons-mobile {
  width: 100%;
}

.container-item-nosotros-mobile {
  margin-bottom: 3.5rem;
}

.container-icon-nosotros-mobile {
  width: 100%;
  height: 6rem;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 800;
  color: #1A237E;
}

.title-nosotros-mobile {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.container-text-nosotros-mobile {
  width: 95%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}


/* ********************************* */
/* Estilos para la sección de more-us */
/* ********************************* */

#more-us-mobile-2 {
  display: none;
}

.more-us {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.more-us .ddd {
  width: 95%;
}

.container-button-c {
  position: absolute;
  z-index: 5;
  bottom: 2rem;
  left: 1rem;
}

.container-button-c .more-us-btn-c {
  border: none;
  width: 200px;
  border-radius: 4rem;
  height: 50px;
  background-color: rgb(224, 224, 224);
  font-weight: bold;
  color: black;
}

.nuevo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  overflow: hidden;
  height: 48rem;
  background-color: lightskyblue;
  position: relative;
}

.nuevo-div:hover::before{
  transform: translateY(0);
}

.nuevo-div::before{
  content: "Nuestros valores nos mueven a responder más eficazmente al acelerado entorno empresarial, y garantizan una interacción armoniosa dentro y fuera de SucrimSoft, que nos lleva a la excelencia profesional y a ser un socio de negocios valioso para nuestros clientes.";
  z-index: 1000;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform: translateY(100%);
  transition: .4s;
}

.enfoque-v {
  height: 40vh;
  border-radius: 2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.enfoque-v:hover::before{
  transform: translateY(0);
}

.enfoque-v::before{
  content: "Nuestros valores nos mueven a responder más eficazmente al acelerado entorno empresarial, y garantizan una interacción armoniosa dentro y fuera de SucrimSoft, que nos lleva a la excelencia profesional y a ser un socio de negocios valioso para nuestros clientes.";
  color: white;
  font-size: 1.5rem;
  z-index: 1000;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform: translateY(100%);
  transition: .4s;
}


.content-enfoque-v {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 2rem;
  background-color: rgba(176, 176, 176, 0.3); 
  position: relative;
}

.texts-enfoque-v {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
}

.container-title-more-us-p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.container-description-us-p {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.text-description-more-us-p {
  font-size: 1rem;
}

.container-img-enfoque-v {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  background-color: lightgreen;
  overflow: hidden;
}

.img-more-us-p {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}



.orientados-e {
  height: 40vh;
  border-radius: 3rem;
  padding-top: 0.8rem;
  position: relative;
  overflow: hidden;
}



.mejores-p {
  border-radius: 3rem;
  height: 40vh;
  padding-top: 0.8rem;
}

.image-more-us-c {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.title-more-us-c {
  position: absolute;
  z-index: 2;
  top: 1rem;
  width: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.two-sections {
  margin-top: 1rem;
}


.orien-exi-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3rem;
  position: relative;
}

.container-title-orien-exi {
  width: 60%;
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
}

.text-title-orien-exi {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.container-description-orien-exi {
  width: 50%;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.container-icon-orien-exi {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.icon-flecha {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.text-description-orien-text {
  color: white;
}

.prac-container {
  position: relative;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  background-color: #1A237E;
}

/* Sección de more-us mobile */

.container-item-more-us-mobile {
  width: 100%;
  margin-bottom: 2rem;
}

.container-more-us-mobile {
  width: 100%;

}

.container-imagen-more-us-mobile {
  width: 100%;
  background-color: lightcoral;
  height: 23rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}


.img-mobile-more-us {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ********************************* */
/* Estilos para la sección de more-us-2 */
/* ********************************* */
.container-more-us-2{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  
}

.container-content-more-us {
  position: relative;
  width: 95%;
  height: 28rem;
  padding: 1rem;
}

.container-image-more-us-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 3rem;
  overflow: hidden;
}

.image-more-us-2 {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro con opacidad */
  z-index: 2;
}

.text-overlay {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: white; /* Color del texto */
  z-index: 3; /* Asegura que el texto esté encima del fondo negro */
  text-align: center;
}



/* Estilos para la segunda propuesta de more-us-mobile */

/* ********************************* */
/* Estilos para la sección de tecnologias */
/* ********************************* */

#tecnologias{
  margin-top: 5rem;
}

.container-tecnologias {
  width: 100%;
  background-color: black;
  border-radius: 3rem;
  overflow: hidden;
}

.row-tecnologias {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;

}

.texts-tecnologias {
  /* background-color: lightcoral; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-title-tecnologias {
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.container-description-tecnologias {
  /* background-color: red; */
  width: 95%;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
}


/* Estilos para carrusel de la sección tecnologías */

.carrousel-tecnologias {
  display: flex;
  background-color: black;
  height: 30vh;
  /* background-color: rebeccapurple; */
}


.container-carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* background-color: lightgreen; */
}

.container-content-carrousel {
  width: calc(100% - 70px);
  height: 70%;
  position: relative;
  font-size: 14px;
  overflow: hidden;
}

.title-tecnologias {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-wrapper .swiper-slide {
  position: relative;
  text-align: start;
  text-align: center;
  font-size: 18px;
  border-radius: 3.5rem;
  background-color: #dddddd
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-right-radius: 15px;
}


.swiper-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.swiper-button-container .button-next,
.swiper-button-container .button-back {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-container .button-next {
  right: -0.3rem;
}

.swiper-button-container .button-back {
  left: -0.3rem;
}


/* ********************************* */
/* Estilos para la sección de servicios */
/* ********************************* */

.services-sm {
  display: none;
}

.container-servicios {
  width: 100%;
  height: 45rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
  position: relative;
}

.container-content-servicios {
  width: 90%;
  height: 90%;
  /* background-color: aqua; */
}

.swiper-slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
}


.container-description-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: aquamarine; */
}

.description-service {
  width: 100%;
  height: 70%;
  background-color: #CCCCCC;
  position: relative;
  border-radius: 3rem;
}



.container-image-slide-services {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15rem;
  background-color: #CCCCCC;
  border-radius: 2.5rem;
  overflow: hidden;
}



.container-image-slide-services .image-services {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.container-description {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;

}

.title-description-services h3 {
  font-weight: bold;
}

.text-description-services {
  padding: 1.5rem;
}

.text-description-servi {
  font-size: 1.2rem;
  text-align: center;
}

.swiper-button-container2 {
  /* Estilos para centrar verticalmente */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}


/* ********************************* */
/* Estilos para la sección de contacto */
/* ********************************* */
.container-contacto {
  width: 85%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}


.container-contact-info {
  width: 100%;
}

.text-contact-info {
  font-size: 2rem;
  width: 95%;
}

.contact-info {
  padding: 0 30px 0px 0;
}

h2.contact-title {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 30px;

}

.contact-info {
  padding: 0 30px 0px 0;
}

ul.contact-info {
  margin-top: 30px;
}

ul.contact-info li {
  margin-bottom: 22px;
}

ul.contact-info span {
  font-size: 20px;
  line-height: 26px;
}

ul.contact-info li {
  display: flex;
  width: 100%;
}

.info-left {
  width: 10%;
}

.info-left i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.info-right h4 {

  font-size: 18px;
}


.fila-nosotros-prueba {
  padding-left: 0;
}

.prueba-content {
  width: 100%;
  height: 6rem;
  background-color: lightcyan;
}


.col-prueba {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  background: #CCCCCC;
  padding: 30px;
  border-radius: 2rem;

}

.wrapper .title h1 {

  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid black;
  padding: 10px;
  width: 100%;
}

.msg textarea {
  height: 212px;
}



.btn-form-contact {
  background: #1A237E;
  text-align: center;
  padding: 15px;
  border-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.bi-facebook:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }

  .msg textarea {
    height: 80px;
  }

  .input-fields,
  .msg {
    width: 100%;
  }
}


/* Estilos del Footer */

.container-footer {
  width: 100%;
  margin-top: 5rem;
  background-color: #1A237E;
  border-radius: 3rem;
  overflow: hidden;
  color: white;
}

.bg-title {
  /* background-color: lightcoral; */
}

.bg-soluciones {
  /* background-color: red; */
}

.bg-compania {
  /* background-color: lightgreen; */
}


.bg-redes {
  /* background-color: lightpink; */
}